.navbar {
    width: 100%;
    background-color: #010335e5;
    color: whitesmoke;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

li {
    display: inline-block;
   
}

a {
    text-decoration: none;
    color: whitesmoke;
    display: block;
    padding: 14px 12px 14px;
    font-size: 14px;
}

li:hover {
    background-color: #111;
}